{% extends 'base.html' %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}

{% block content %}

    <section class="bg-light-gray">
        <div class="container">
          <div  class="row">
                <!-- Jobs (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div  class="card-body">
                      <div  class="row no-gutters athgn-items-center">
                        <div class="col md-3">
                          <div class="Job_Details" >
                            <span><img style="height: 40px; width: 150px; " src="/static/img/amazon.png"><br>
                              <h4 style="color: black;">Full Stack Developer</h4>
                             <h5>Salary : 10LPA</h5>
                             <h5>Location : Delhi</h5>
                             <h5>Experience : 4 Years</h5>
                            </span>
                            <p><span style="font-weight: 500;">JD :</span> Skilled in HTML5 and CSS3, JavaScript Must have worked on Python and Django....<span><a href = "#" >Read More...</a></span>
                             <div class="row">
                                 <div class="col-sm-4">
                                     <label><i class="fa fa-eye"></i>&nbsp;:&nbsp;34</label>
                                   </div>
                                 <div class="col-sm-4">
                                     <label><i class="	fa fa-address-book"></i>&nbsp;:&nbsp;5</label>
                                   </div>
                                 <div class="col-sm-4">
                                     <label><i class="fa fa-address-card"></i>&nbsp;:&nbsp;134</label>
                                   </div>
                             </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                   <div class="card border-left-primary shadow h-100 py-2">
                     <div class="card-body">
                       <div class="row no-gutters athgn-items-center">
                           <div class="col md-3">
                               <div class="Job_Details" >
                                 <span><img style="height: 45px; width: 200px; margin-top: -10px; " src="/static/img/flipkart.png"><br>
                                   <h4 style="color: black;">Python Developer</h4>
                                  <h5>Salary : 6LPA</h5>
                                  <h5>Location : Banglore</h5>
                                  <h5>Experience : 3 Years</h5>                      </span>
                                 <p><span style="font-weight: 500;">JD :</span> Skilled in HTML5 and CSS3, JavaScript Must have worked on Python and Django....<span><a href = "#" >Read More...</a></span>
                                  <div style="margin-bottom: -20px;" class="row">
                                      <div style="margin-left: 25px;" class="col-sm-3">
                                          <i style="font-size: 18px;" class="fa fa-eye"></i>
                                          <label  style="font-size: 14px;">34</label>
                                        </div>
                                      <div class="col-sm-3">
                                          <i style="margin-left: 3px;font-size: 18px;" class="	fa fa-address-book"></i>
                                          <label style="margin-left: 3px; font-size: 18px;">5</label>
                                        </div>
                                      <div class="col-sm-3">
                                          <i style="margin-left: 8px;font-size: 18px;" class="fa fa-address-card"></i>
                                          <label style="margin-left: 3px; font-size: 18px;">134</label>
                                        </div>
                                  </div>
                               </div>
                             </div>
                       </div>
                     </div>
                   </div>
               </div>
               <div class="col-xl-3 col-md-6 mb-4">
                   <div class="card border-left-primary shadow h-100 py-2">
                     <div class="card-body">
                       <div class="row no-gutters athgn-items-center">
                           <div class="col md-3">
                               <div class="Job_Details" >
                                 <span><img style="height: 75px; width: 200px; margin-top: -25px; " src="/static/img/reliance.png"><br>
                                   <h4 style="color: black;">Python Developer</h4>
                                   <h5>Salary : 6LPA</h5>
                                   <h5>Location : Banglore</h5>
                                   <h5>Experience : 3 Years</h5>                      </span>
                                 <p><span style="font-weight: 500;">JD :</span> Skilled in HTML5 and CSS3, JavaScript Must have worked on Python and Django....<span><a href = "#" >Read More...</a></span>
                                  <div style="margin-bottom: -20px;" class="row">
                                      <div style="margin-left: 25px;" class="col-sm-3">
                                          <i style="font-size: 18px;" class="fa fa-eye"></i>
                                          <label  style="font-size: 14px;">34</label>
                                        </div>
                                      <div class="col-sm-3">
                                          <i style="margin-left: 3px;font-size: 18px;" class="	fa fa-address-book"></i>
                                          <label style="margin-left: 3px; font-size: 18px;">5</label>
                                        </div>
                                      <div class="col-sm-3">
                                          <i style="margin-left: 8px;font-size: 18px;" class="fa fa-address-card"></i>
                                          <label style="margin-left: 3px; font-size: 18px;">134</label>
                                        </div>
                                  </div>
                               </div>
                             </div>
                       </div>
                     </div>
                   </div>
               </div>
               <div class="col-xl-3 col-md-6 mb-4">
                   <div class="card border-left-primary shadow h-100 py-2">
                     <div class="card-body">
                       <div class="row no-gutters athgn-items-center">
                           <div class="col md-3">
                               <div class="Job_Details" >
                                 <span><img style="height: 45px; width: 200px; margin-top: -10px; " src="/static/img/Marktine.gif"><br>
                                   <h4 style="color: black;">Python Developer</h4>
                                   <h5>Salary : 5LPA</h5>
                                   <h5>Location : Jaipur</h5>
                                   <h5>Experience : 2 Years</h5>                      </span>
                                 <p><span style="font-weight: 500;">JD :</span> Skilled in HTML5 and CSS3, JavaScript Must have worked on Python and Django....<span><a href = "#" >Read More...</a></span>
                                  <div style="margin-bottom: -20px;" class="row">
                                      <div style="margin-left: 25px;" class="col-sm-3">
                                          <i style="font-size: 18px;" class="fa fa-eye"></i>
                                          <label  style="font-size: 14px;">34</label>
                                        </div>
                                      <div class="col-sm-3">
                                          <i style="margin-left: 3px;font-size: 18px;" class="	fa fa-address-book"></i>
                                          <label style="margin-left: 3px; font-size: 18px;">5</label>
                                        </div>
                                      <div class="col-sm-3">
                                          <i style="margin-left: 8px;font-size: 18px;" class="fa fa-address-card"></i>
                                          <label style="margin-left: 3px; font-size: 18px;">134</label>
                                        </div>
                                  </div>
                               </div>
                             </div>
                       </div>
                     </div>
                   </div>
               </div>
               <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters athgn-items-center">
                        <div class="col md-3">
                            <div class="Job_Details" >
                              <span><img style="height: 45px; width: 200px; margin-top: -10px; " src="/static/img/Marktine.gif"><br>
                                <h4 style="color: black;">Python Developer</h4>
                                <h5>Salary : 5LPA</h5>
                                <h5>Location : Jaipur</h5>
                                <h5>Experience : 2 Years</h5>                      </span>
                              <p><span style="font-weight: 500;">JD :</span> Skilled in HTML5 and CSS3, JavaScript Must have worked on Python and Django....<span><a href = "#" >Read More...</a></span>
                               <div style="margin-bottom: -20px;" class="row">
                                   <div style="margin-left: 25px;" class="col-sm-3">
                                       <i style="font-size: 18px;" class="fa fa-eye"></i>
                                       <label  style="font-size: 14px;">34</label>
                                     </div>
                                   <div class="col-sm-3">
                                       <i style="margin-left: 3px;font-size: 18px;" class="	fa fa-address-book"></i>
                                       <label style="margin-left: 3px; font-size: 18px;">5</label>
                                     </div>
                                   <div class="col-sm-3">
                                       <i style="margin-left: 8px;font-size: 18px;" class="fa fa-address-card"></i>
                                       <label style="margin-left: 3px; font-size: 18px;">134</label>
                                     </div>
                               </div>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </section>
    <section>
        <!-- Content Row -->
   </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right mb-5">
                    <a href="{% url 'jobs:employer-jobs-create' %}" class="btn btn-outline-white-primary">
                        <i class="fa fa-plus"></i>Add new position
                    </a>
                </div>
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-client-dashboard">
                            <thead>
                        <tr>
                            <th>Job ID</th>
                            <th>Job Title</th>
                            <th>Experience</th>
                            <th>Date Of Posting</th>
                            <th>Date of Expire</th>
                            <th>No. Of Postions</th>
                            <th>No. of Applications</th>  
                            <th>Status</th> 
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td>0123</td>
                            <td>Python Developer</td>
                            <td>4 Years</td>
                            <td>07/01/2020</td>
                            <td>07/02/2020</td>
                            <td>5</td>
                            <td>15</td>
                            <td>Filling</td>
                            <td>Change State</td>
                            </tr>
                        <tr>
                            <td>0123</td>
                            <td>Python Developer</td>
                            <td>4 Years</td>
                            <td>07/01/2020</td>
                            <td>07/02/2020</td>
                            <td>5</td>
                            <td>15</td>
                            <td>Filling</td>
                            <td>Change State</td>
                        </tr>
                        <tr>
                            <td>0123</td>
                            <td>Python Developer</td>
                            <td>4 Years</td>
                            <td>07/01/2020</td>
                            <td>07/02/2020</td>
                            <td>5</td>
                            <td>15</td>
                            <td>Filling</td>
                            <td>Change State</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for job in jobs %}

                                <tr>
                                    <th><a href="{% url 'jobs:jobs-detail' job.id %}">{{ job.title }}</a>
                                    </th>
                                    <td>
                                        {% if job.filled %}
                                            <span class="badge badge-success">Filled</span>
                                        {% else %}
                                            <span class="badge badge-secondary">Not Filled</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ job.created_at }}</td>
                                    <td>{{ job.last_date }}</td>
                                    <td>
                                        <a href="{% url 'jobs:employer-dashboard-applicants' job.id %}"
                                           class="btn btn-success">
                                            <i class="fa fa-users"></i>{{ job.applicants.count }}
                                            <span class="hidden-xs hidden-sm">Applicants</span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-outline-white-secondary">
                                            <i class="fa fa-edit"></i>Edit
                                        </a>
                                        <br>
                                        {% if job.filled %}
                                            <a href="{% url 'jobs:job-mark-filled' job.id %}"
                                               class="btn btn-outline-white-secondary">
                                                <i class="fa fa-check-circle-o"></i>
                                                <span class="hidden-xs hidden-sm">Filled</span>
                                            </a><br>
                                        {% else %}
                                            <a href="{% url 'jobs:job-mark-filled' job.id %}"
                                               class="btn btn-outline-white-secondary">
                                                <i class="fa fa-check-circle-o"></i>
                                                <span class="hidden-xs hidden-sm">Mark as </span>filled
                                            </a><br>
                                        {% endif %}
                                        <a href="#" class="btn btn-outline-white-secondary">
                                            <i class="fa fa-times-circle-o"></i>Delete
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="pages">
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                            <ul class="pagination">
                                <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span
                                        aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                                <li class="page-item"><a href="#" class="page-link">2</a></li>
                                <li class="page-item"><a href="#" class="page-link">3</a></li>
                                <li class="page-item"><a href="#" class="page-link">4</a></li>
                                <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span
                                        aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

