{% extends 'base.html' %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}

{% block content %}

<section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="heading">About Us</h1>
                    <h3>OUR STORY</h3>
                    <p>
                            The commencement of “Marktine” is a story of inspiration & artistry. Embarked in the winters of November 2015, after a long excruciating office day, we were sitting in the balcony of condo in Gurgaon, pondering with the thought to start our own neoteric venture to make our experience utilized in best manner for industries across the Globe.
                            
                            Operating in the field of strategy &marketing for more than over 25 years cumulatively in many of the top 500 Forbes companies like IBM, HP, GE, Cisco & Wipro; we knew the next generation was all about data and how it needed us to drive it to marketing. We discussed how great scientists Like Einstein and Newton changed everyone’s mindset on how creativity was all about intelligence having fun. Leading to a consensus to venture a business, where we can put marketing analytics to drive businesses in an efficient (data driven) & in cost-effective, optimized manner. Hence putting together Einstein & Marketing we cited ourselves as “Marktine”.
                            
                            Both of us trusted this concept and quickly started compiling the strategy & developed the thought process. Hence, on April 2, 2016 the rough & blurry night of dreams of making a name globally came to the frontier as “Marktine – Data Driven Marketing”,, budding its 1st presence in professional world.
                            
                            We are committed to excellence with a squad of industry enthusiasts, intellectuals and innovative brains complementing each other. Since the inception, we have gained wide recognition among industry players. We are still growing and consistently improving on the global level making a mark in marketing technology sector.</p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}