{% extends 'base.html' %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}

{% block content %}

<section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="heading">Contact Us From Here</h1>
                    
            </div>
            <div style="margin-left: 100px;" class="row">
                <div class="col-md-6">
                        <h4>Contact</h4>
                        <p>Avi Kapoor : +91 1234567890</p>
                        <p>Deepak Shrivastava : +91 1234567890</p>
                        <p>Deepanjali Sharma : +91 1234567890</p>
                </div>
                <div class="col-md-6">
                        <h4>Address</h4>
                        <p>Marktine Business Solution Pvt. Ltd, MNIT Start-Up, Malviya Nagar, Jaipur, Rajasthan, India, Aisa, Earth</p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}